@font-face {
  font-family: myFirstFont;
  src: url("../../Images/SH\ Imogen\ Agnes.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-family: myFirstFont;
  font-size: 70px;
  position: relative;
  top: 25px;
}
.Itemslogan {
  position: relative;
  bottom: 200px;
  font-size: 30px;
  color: #ffff;
  font-family: Courier New;
  padding: 0px 40px 0px 40px;
  text-align: center;
}
.sloganEnglish {
  position: relative;
  bottom: 200px;
  font-size: 19px;
  text-align: center;
  color: beige;
  font-family: Courier New;
}

.nav-btn {
  display: none;
}
.header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
}
.containerNavigate {
  /*   width: 1265px;
 */
  margin: 0 auto;
  max-width: 1265px;
}
.navigation {
  position: sticky;
  height: 90px;
  z-index: 5;
  top: -1px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 12px rgb(0 0 0 / 10%);
}
.navigation::after {
  transform: scale(3);
  height: 100vh;
  margin: 0;
  display: grid;
}
.add-shadow {
  box-shadow: 0 0 12px rgb(0 0 0 / 10%);
}

.fixNav,
.moveNav {
  width: 100%;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 30px 0px 30px;
}

.nav {
  height: 90px;
  display: inline-block;
}

.nav li {
  display: inline-block;
  padding: 0 32px;
}
.select li {
  position: relative;
}

.select {
  padding: 0;
  display: flex;
  width: 100%;
}

.select li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #1890ff;
  transition: all 0.3s ease;
}

.select li:hover:after {
  left: 0;
  width: 100%;
}

.navBtn {
  display: none;
}
.logoNav {
  padding: 10px;
}

.nav .select > li {
  display: flex;
  width: max-content;
  justify-content: space-around;
}
.nav li a {
  position: relative;
  color: black;
  text-decoration: none;
  line-height: 38px;
  padding: 12px 0;
}

/*Begin Hover header */

.nav li a:hover,
.nav .isActive {
  color: #1890ff;
  text-shadow: -2px 4px 3px rgb(0 0 0 / 50%);
}

/* #nav .is-active::after {
  background: #1c6cc1;
  height: 3px;
  opacity: 1;
  width: 100%;
  left: 0;
} */

.nav li a:hover::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

.nav a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  content: "";
  background: #1c6cc1;
  opacity: 0;
  transition: all ease 0.3s;
}

a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.userNav {
  display: flex;
  align-items: baseline;
  font-size: 15px;
  color: #e84749;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  background-color: #00474f;
}
.logo {
  height: 93px;
  width: 98%;
  padding: 0px;
  font-size: 87px;
  position: absolute;
  margin: 0px auto;
  top: -40px;
  text-align: center;
}
.logo:hover {
  color: #1890ff;
  font-size: 110px;
  transition: 0.2s ease;
  padding: 0px 0 15px 0;
}
.sdt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sdt:hover::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

.sdt::after {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0;
  height: 3px;
  content: "";
  background: #1c6cc1;
  opacity: 0;
  transition: all ease 0.3s;
}
.sdt h4 {
  font-size: 18px;
  color: #003a8c;
}
.sdt h4:hover {
  color: #1890ff;
  transition: 0.2s ease;
  /*  padding: 0px 0 15px 0; */
}

.logo img {
  width: 85px !important;
  height: 85px !important;
}
.useNav {
  display: flex;
  align-items: baseline;
  font-size: 15px;
  color: #e84749;
}
.IconFb {
  color: rgb(19, 156, 247);
  height: 25px;
  width: 25px;
}
.IconPhone {
  color: #ad2102;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .select {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: fixed;
    top: 55px;
    right: -300px;
    box-shadow: 0 40px 60px rgb(0 0 0);
    height: 100vh;
    background-color: beige;
    width: 300px;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .navBtn {
    display: block;
  }
  .selectActive {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: fixed;
    top: 55px;
    right: 0px;
    box-shadow: 0 40px 60px rgb(0 0 0);
    height: 100vh;
    background-color: beige;
    width: 300px;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .logoNav {
    display: none;
  }
  .selectLeft {
    display: flex;
  }
  .selectLeft img {
    position: relative;
    bottom: 12px;
    right: 30px;
    height: 20px !important;
    width: 20px !important;
  }
  .sdt {
    position: relative;
    right: 70px;
    top: 15px;
    font-size: 13px;
  }

  .fb {
    position: relative;
    right: 166px;
    bottom: 23px;
    height: 10px;
  }
  .IconFb {
    height: 20px;
    width: 20px;
  }
  .IconPhone {
    height: 15px;
    width: 15px;
  }
}
