@font-face {
  font-family: ImogenAgnes;
  src: url("./../../Images/SH\ Imogen\ Agnes.ttf");
}
.ButtonSetPitch {
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  background-color: #40a9ff;
  position: absolute;
  z-index: 1;
  top: 221px;
  right: 30px;
  display: block;
  vertical-align: top;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  transform: rotate(45deg);
}
.ButtonSetPitch:hover {
  background-color: #096dd9;
  transition: all 0.3s ease 0s;
}

.ButtonSetPitch span {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 19px;
  padding-top: 28px;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  transform: rotate(-45deg);
  color: #fff;
}
.WrapperButtonSetPitch {
  position: sticky;
  float: left;
  left: 1500px;
  top: 100px;
  z-index: 1;
}
.contentStyle {
  color: #fff;

  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.titleView {
  margin-top: 70px;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.titleCombo {
  text-align: center;
  font-family: "myFirstFont";
  color: aqua;
  font-size: 100px;
}
.ContentCombo {
  color: black;
  background-color: #e5e5e5;
  box-shadow: rgb(0 0 0 / 60%) 0px 4px 5px;
  border-radius: 8px;
  padding: 20px 30px 10px 30px;
}
.Images {
  /* position: absolute; */
  left: 0;
  width: 100%;
  height: 300px;
  background: #f1f6fc no-repeat center;
  background-size: cover;
  color: transparent;
  background-image: url("../../Images/banner_soccer.png");
}
video {
  display: flex;
  padding: 0 5px 5px 5px;
  margin: 0 auto;
  max-width: 1265px;
  width: 100%;
  object-fit: cover;
}
/* main {
  position: absolute;
} */
img {
  height: 130px;
  width: 130px;
  display: block;
  opacity: 1;
}
.gifs {
  position: fixed;
  right: 0.5208333333vw;
  top: 30%;
  transform: translateY(-50%);
  z-index: 20;
  text-decoration: none;
}
.ulCombo li {
  list-style-type: square;
}

.gifs > h3 {
  font-size: 14px;
  color: red;
  text-align: center;
  margin-top: -12px;
  text-decoration-line: underline;
  font-weight: 700;
}
.main {
  position: relative;
}
.imgList {
  height: 100px;
  width: 100px;
}

ol,
li {
  list-style-type: none;
}
.contentCenter {
  padding-top: 100px;
}

.items {
  border: 1px solid #938888;
  height: auto;
  width: 31%;
  justify-content: space-evenly;
  transition: all 0.4s ease 0s;
  background-color: #e5e5e5;
  box-shadow: rgb(0 0 0 / 60%) 0px 4px 5px;
  border-radius: 8px;
  padding: 5px 5px 5px 0px;
}
.items:hover {
  background-color: #d89614;
}
.itemTitle {
  color: black;
  display: flex;
  align-items: stretch;
  /*  box-shadow: rgb(0 0 0 / 50%) -1px 1px 5px;
  border-radius: 3px; */
}
.itemPrice {
  color: rgb(130, 0, 20);
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 3px;
  width: max-content;
  box-shadow: rgb(0 0 0 / 50%) -1px 1px 5px;
  border-radius: 3px;
}

.itemTitle :hover {
  background-color: bluebird;
  text-decoration: underline 0.5px;
  font-weight: 600;
  transition: all 0.4s ease 0s;
}

.wrapperContent2 {
  margin-top: 32px;
}
.ContainerContent2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.Contentleft2 {
  width: 100%;
}
.Contentleft2 h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--blackColor);
  font-weight: 800;
}
.Contentleft2 p {
  color: #820014;
  font-weight: 500;
  font-size: 20px;
}
.defauBtn:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  border-radius: 4px;
  position: absolute;
  transition: var(--transition);
  background: linear-gradient(90deg, #ff0080 0%, #ff8c00 100%);
}
.defauBtn {
  border: 0;
  z-index: 1;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  padding: 15px 35px 14px;
  color: var(--whiteColor);
  transition: var(--transition);
  background: linear-gradient(91.43deg, #4a00e0 1.22%, #8e2de2 98.84%);
  font-size: var(--fontSize);
  font-weight: 600;
}
a {
  transition: var(--transition);
  color: var(--blackColor);
  text-decoration: none;
  outline: 0 !important;
}
.ContentRight2 {
  width: 100%;
}
.ContentRight2 img {
  width: 100%;
  height: 100%;
}

.contentWrapperButton {
  width: 90%;
  display: flex;
  height: 100px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  margin: 0 auto;
  text-align: center;
}
.contentWrapperButton a {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
  justify-content: center;
}

img :hover {
  filter: blur(15px);
  opacity: 0.7;
}

/* .ContentCapTitleRight:hover {
  opacity: 1;
} */

/* Carousel */

.DatePickers {
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;
  bottom: 300px;
  height: 50px;
  border: 5px solid rgba(221, 221, 221, 0.033);
  background: rgba(255, 255, 255, 0.333);
  border-radius: 8px;
  color: #fff;
}
