.contentStyle {
  color: #fff;
  line-height: 40px;
  text-align: center;

  padding: 0 170px;
}
.Images {
  /* position: absolute; */
  left: 0;
  width: 100%;
  height: 300px;
  background: #f1f6fc no-repeat center;
  background-size: cover;
  color: transparent;
  background-image: url("../../Images/banner_soccer.png");
}
video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
/* main {
  position: absolute;
} */
img {
  height: 130px;
  width: 130px;
  display: block;
  opacity: 1;
}
.gifs {
  position: fixed;
  right: 0.5208333333vw;
  top: 30%;
  transform: translateY(-50%);
  z-index: 20;
  text-decoration: none;
}
.gifs > h3 {
  font-size: 14px;
  color: red;
  text-align: center;
  margin-top: -12px;
  text-decoration-line: underline;
  font-weight: 700;
}
.main {
  position: relative;
}
.imgList {
  height: 100px;
  width: 100px;
}

ol,
li {
  list-style-type: none;
}
/* .contentCenter {
  float: right;
  width: 568px;
} */
tbody > tr > td {
  max-width: 10ch;
}
.titlePitch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 15px;
  border-bottom: 1px solid black;
}
.itemTitle {
  color: black;
  display: flex;
}
.itemTitle img {
  position: relative;
  top: 5px;
  width: 40px !important;
  height: 40px !important;
}
.itemTitle :hover {
  background-color: bluebird;
  text-decoration: underline 0.5px;
  font-weight: 600;

  transition: width 0.35s ease-in-out;
}
