@font-face {
  font-family: text;
  src: url("./Images/be-vietnam-pro/BeVietnamPro-ExtraLight.ttf");
}
.MainContainer {
  flex: 1;
}
.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  min-height: 100vh;
  font-family: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a8071a;
}
