.footerContainer {
  width: 100%;
  padding: 0 62px;
  bottom: 0;
  z-index: 10;
  margin-top: 25px;
  /* margin: 28px 0px; */
  background-color: #ddd;
  /* border-radius: 5px; */
}
.footerContainer > button {
  background: #003a8c;
}
.footer {
  width: 100%;
  padding-top: 10px;
}
.copyRight {
  padding: 7px;
  font-size: 12px;
  margin: 15px;
}
